<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <appSettings>

	   <!--<add key="strConn" value="server=103.20.212.67;uid=appsqluser;password=Polo%$!12345;database=db_EY_ALKEM_E360"/>-->
	 <add key="strConn" value="server=ey-vac.database.windows.net;uid=astixadmin@ey-vac;pwd=astix@123qazwsx;database=db_EY_ALKEM_E360" />
    <add key="refreshtime" value="120000" />
    <add key="MailFrom" value="Astix Solutions &lt;astix@astixsolutions.com>" />
    <add key="MailTo" value="astix@astixsolutions.com" />
    <add key="Mailflg" value="1" />
    <add key="MailBCC" value="astixe360@gmail.com" />

    <add key="smtpClient" value="smtp.sendgrid.net" />
    <add key="sUser" value="Mails_Avinash" />
    <add key="sPassword" value="AG@123456" />



  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
                <clear />
                <add value="Login.aspx" />
                <add value="frmThanks.html" />
                <add value="Welcome.html" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
